@model OnlineClinic.Models.Slot

@{
	ViewData["Title"] = "Create";
}

<h2>Open / Reset date slots</h2>

<h4>Slot</h4>

<div>
	<a asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">

			<div class="form-group">
				<input type="date" name="date" min="@DateTime.Today.ToString("yyyy-MM-dd")" required />
				<input type="submit" value="Open & Reset" class="btn btn-default" />
			</div>

		</form>
	</div>
</div>
<hr />


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
