@{
	ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>DDAC Group Assignment</p>
<p>UC3F1911IT</p>
<span>
	<a href="https://github.com/lifeismeme/OnlineClinic">Online repository</a> <br />
	https://github.com/lifeismeme/OnlineClinic
</span>
