@model OnlineClinic.Models.Appointment

@{
	ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Appointment</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">

				<input asp-for="Slot.TimeStart" />
 
				<span asp-validation-for="Id" class="text-danger"></span>
				<span asp-validation-for="Doctor" class="text-danger"></span>
				<span asp-validation-for="Patient" class="text-danger"></span>
				<span asp-validation-for="Slot" class="text-danger"></span>
				<span asp-validation-for="IsCancelled" class="text-danger"></span>
			</div>
				<input type="submit" value="Create" class="btn btn-default" />
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
